@use "./vars.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-primary;
    font-size: 10px;

}

html,
body {
    background: $default-100;
}

.storybook-container-decorator {
    background-color: $default-100;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.light {
    color: $default-100;
}

.primary {
    color: $primary-default;
}

.dark {
    color: $dark-default;
}