$default-100: #F3F4F6;
$default-200: #CBD5E0;
$default-300: #ABB3C3;

$dark-default: #404040;

$primary-default: #3277A9;

$succces-default: #29A56A;
$warning-default: #CFB73A;

$error-default: #CF4C3A;

$size-h1: 60px;
$size-h2: 48px;
$size-h3: 36px;
$size-h4: 24px;
$size-p: 18px;

$font-primary: "Roboto", sans-serif;