@use '../../sass/vars.scss' as *;

button {
    min-width: 13rem;
    height: 5rem;
    outline: none;
    border: none;
    background-color: $default-200;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    cursor: pointer;
    color: $dark-default;

    &.size-small {
        height: 3.5rem;
        min-width: 8rem;

        p {
            font-size: $size-small;
        }
    }

    &.variant-primary {
        background-color: $primary-default;
        color: $default-100
    }

    &.variant-dark {
        background-color: $dark-default;
        color: $default-100
    }

    &.variant-alert {
        background-color: $error-default;
        color: $default-100
    }
}