@use '../../sass/vars.scss' as *;

div.card {
    width: 100%;
    padding: 2.5rem;
    border-radius: .5rem;
    background: $default-200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}