@use '../../sass/vars.scss' as *;

div.input-wrapper {
    transition: 0.5s;
}

input {
    height: 5rem;
    width: 31rem;
    outline: none;
    border-radius: 0.5rem;
    background: $default-200;
    border: none;
    outline: none;
    font-size: $size-p;
    letter-spacing: 0.05em;
    font-weight: 900;
    padding: 0 1rem;
    color: $dark-default;
    transition: 0.5s;

    &::placeholder {
        color: $default-300;
    }

    &.not-valid {
        background-color: $error-default;
        color: $default-100;
        transition: 0.5s;

        &::placeholder {
            color: $default-200;
        }
    }
}

.not-valid-span {
    font-weight: 700;
    display: inline-block;
    margin-top: 1rem;
    font-size: $size-small;
    color: $dark-default
}