@use '../../sass/vars.scss' as *;

div.editor-wrapper {
    .text-wrapper {
        width: 31rem;
        background: $default-200;
        min-height: 15rem;
        border-radius: 0 0 0.5rem 0.5rem;
        padding: 1rem;
    }

    .editor-toolbar {
        padding-left: 1rem;
        width: 31rem;
        background: $default-300;
        height: 5rem;
        border-radius: 0.5rem 0.5rem 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem
    }
}

.ProseMirror {
    outline: none;
    margin-bottom: 1rem;

    p {
        font-size: $size-p;
        font-weight: 500;
    }

    strong {
        font-size: $size-p;
        font-weight: 900;
    }

    em {
        font-size: $size-p;
    }
}