@use '../../sass/vars.scss' as *;

div.alert {
    transition: 0.5s;
    position: fixed;
    left: 3rem;
    bottom: 5rem;
    width: 31rem;
    height: 5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background: $default-200;
    color: $dark-default;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: $size-label;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: $dark-default
    }

    &.error {
        background: $error-default;
        color: $default-100;

        button {
            color: $default-100;
        }
    }

    &.warning {
        background: $warning-default;

        color: $default-100 button {
            color: $default-100;
        }
    }

    &.success {
        background: $success-default;
        color: $default-100;

        button {
            color: $default-100;
        }
    }

    &.hidden {
        opacity: 0;
    }
}