/*@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:wght@500;700;900&display=swap");*/
@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-Medium.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-Regular.ttf");
  font-weight: 400;
}

.ProseMirror {
  outline: none;
  margin-bottom: 1rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
